.menuBrick{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0 6px 6px;
}

.menu {
    min-width: 55px;
    flex: 0 0 8%;
}

.menuControls {
    max-width: 98px;
    margin: 0;
}

.day {
    width: 5rem;
    height: 5rem;
    background-color: #a5ecff;
}

.day:hover {
    background-color: #5dfffc;
}

.navbar-kalendar {
    height: 3em;
    justify-content: center;
}
.kalNavTitle{
    width: 10rem;
    height: 2rem;
}
.arrowsLeft{
    position: absolute;
    left: 0;
}

.arrowsRight{
    position: absolute;
    right: 0;
}
