body, head {
    min-width: 500px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: royalblue;
}


a.display-4 {
    cursor: default;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

li, ul {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

ul.nav {
    display: block;
!important;
    text-align: center;
!important;
}

ul.nav li {
    display: inline-block;
!important;
}

.navMenu {
    background-color: #00c0ff;
}

.menuBrick {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0 6px 6px;
}

.menu {
    min-width: 55px;
    flex: 0 0 8%;
}

.menuControls {
    max-width: 98px;
    margin: 0;
}

.day {
    width: 5rem;
    height: 5rem;
    background-color: #a5ecff;
}

.day:hover {
    background-color: #5dfffc;
}

.out-of-days {
    -webkit-text-fill-color: grey;
}

.navbar-calendar {
    overflow: hidden;
!important;
    height: 3em;
    justify-content: center;
}

.kalNavTitle {
    width: 10rem;
    height: 2rem;
}

.arrowsLeft {
    position: absolute;
    left: 0;
}


.arrowsRight {
    position: absolute;
    right: 0;
}

.custom-checkbox .custom-control-label::before {
    top: 25%;
!important;
}

.custom-checkbox .custom-control-label::after {
    top: 25%;
!important;
}