li {
    display: inline;
    margin: 2rem;
}

li:hover {
    background-color: grey;
}

li.hidden {
    display: none;
}

li.hidden_v {
    visibility: hidden;
}

p.first {
    -webkit-box-shadow: -5px -5px #666666;
    -moz-box-shadow: -5px -5px #666666;
}

p.second {
    -webkit-box-shadow: -5px -5px -15px #666666;
}

p.third {
    -webkit-box-shadow: 0 0 10px #666666;
}

p.four {
    -webkit-box-shadow: inset 0 0 10px #666666;
}